

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App {
  background: linear-gradient(to bottom, #81d4fa 30%, #ffffff 70%);
  text-align: center;
  min-height: 100vh;
  margin: 0;
  padding: 0%;
}

body {
  margin: 0; 
  padding: 0;
}

.App-header {
  background-color:transparent;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(255, 255, 255);
}

.FlyHigh {
  text-align: center; /* Centers the text horizontally */
  margin: 0 auto; /* Ensures proper centering in its container */
  font-size: 100px; /* Optional: Adjust font size */
  font-weight: bold; /* Optional: Make the text bold */
  color: #000000;
  padding-bottom: 5%;
}


.App-link {
  color: #61dafb;
}

header h1 {
  text-align: center;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
